
@font-face {
    font-family: 'Gotham Pro';
    src: url('gothampro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'GothamProBlack';
    src: url('gothampro_blackitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}